@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Cormorant+Garamond:wght@300;400;500;600;700&family=Noto+Sans+TC:wght@300;500&family=Noto+Serif+TC:wght@300;400;500;600;700;900&display=swap');

// setting
html, body{
    width: 100%;
    height: 100%;
}
*{ box-sizing: border-box;}
img{ width: 100%; display: block;}

.pc{ display: block !important;}
.mob{ display: none !important;}
@media (max-width:800px) {
    .pc{ display: none !important;}
    .mob{ display: block !important;}
}

section{
    width: 100%;
    height: 100%;
    overflow: hidden;

    .fp-overflow{
        width: 100%;
    }
    .fp-overflow > div{
        max-width: 1600px;
    }

    // background
    .theme1{ background-image: url(../img/theme1_bg.png);}

    @media (max-width:960px){
        .theme1{ background-image: url(../img/theme1_bg_mob.png);}
    }
    .theme{
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        @media (max-width:960px){
            padding: 100px 0;
        }
    }

    // content
    .theme1{
        position: relative;
        .fp-overflow{
            @media (max-width:960px){
                margin-top: -25%;
            }
        }
        &:before{
            content: "";
            width: calc(560/720*100%);
            height: 0;
            padding-bottom: 46%;
            position: absolute;
            z-index: 0;
            left: 0;
            bottom: 0;
            background: url(../img/theme1_bgimg_mob.png) 0 0 no-repeat;
            background-size: cover;
            display: none;
            @media (max-width:960px){
                display: block;
            }
        }
        .title{
            width: calc(760/1280*100%);
            margin: 0 auto;
            @media (max-width:960px){
                width: calc(596/720*100%);
            }
        }
        .subtitle{
            width: calc(950/1280*100%);
            margin: 40px auto 24px;
            @media (max-width:960px){
                width: calc(586/720*100%);
                margin: 12% auto 6%;
            }
        }
        .info{
            width: calc(760/1280*100%);
            margin: 0 auto;
            @media (max-width:960px){
                width: calc(520/720*100%);
            }
        }
    }

}



// .slick-track{
//     width: 100% !important;
// }

// .slick-dots{
//     bottom: -15px;
//     li{
//         width: 12px;
//         height: 12px;
//         display: inline-block;
//         margin: 0 6px;
//         opacity: .5;
//         &.slick-active{
//             opacity: 1;
//         }
    
//         button{
//             width: 12px;
//             height: 12px;
//             background: #fff;
//             border-radius: 20px;
//             padding: 0;
//             // margin: 10px;
//             &:before{
//                 display: none;
//             }
//         }
//     }
// }

// .slick-prev, .slick-prev:hover, .slick-prev:focus{
//     width: 32px;
//     height: 32px;
//     left: 10px;
//     background: url(../img/arrow_left.svg) center center no-repeat;
//     background-size: contain;
//     z-index: 2;
//     &:before{
//         display: none;
//     }
// }
// .slick-next, .slick-next:hover, .slick-next:focus{
//     width: 32px;
//     height: 32px;
//     right: 10px;
//     background: url(../img/arrow_right.svg) center center no-repeat;
//     background-size: contain;
//     z-index: 2;
//     &:before{
//         display: none;
//     }
// }
.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	// background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: url(../img/arrow_left.svg);
    left: 10px;
    right: auto;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url(../img/arrow_right.svg);
    right: 10px;
    left: auto;
}


  