@import '_setting';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Cormorant+Garamond:wght@300;400;500;600;700&family=Noto+Sans+TC:wght@300;500&family=Noto+Serif+TC:wght@300;400;500;600;700;900&display=swap');

// setting
html, body{
    width: 100%;
    height: 100%;
}
*{ box-sizing: border-box;}
img{ width: 100%; display: block;}
.pc{ display: block !important;}
.mob{ display: none !important;}
@media (max-width:800px) {
    .pc{ display: none !important;}
    .mob{ display: block !important;}
}

section{
    width: 100%;
    height: 100%;
    overflow: hidden;

    .fp-overflow{
        width: 100%;
    }
    .fp-overflow > div{
        max-width: 1600px;
    }

    // background
    .theme1{ background-image: url(../img/theme1_bg.png);}
    .theme2{ background-image: url(../img/theme2_bg.png);}
    .theme3{ background-image: url(../img/theme3_bg.png);}
    .theme4{ background-image: url(../img/theme4_bg.png);}
    .theme5{ background-image: url(../img/theme5_bg.png);}
    .theme6{ background-image: url(../img/theme6_bg.png);}
    .theme7{ background-image: url(../img/theme7_bg.png);}
    .theme8{ background-image: url(../img/theme8_bg.png);}
    .theme9{ background-image: url(../img/theme9_bg.png);}

    @media (max-width:960px){
        .theme1{ background-image: url(../img/theme1_bg_mob.png);}
        .theme2{ background-image: url(../img/theme2_bg_mob.png);}
        .theme3{ background-image: none;}
        .theme4{ background-image: url(../img/theme4_bg_mob.png);}
        .theme5{ background-image: url(../img/theme5_bg_mob.png);}
        .theme6{ background-image: url(../img/theme6_bg_mob.png);}
        .theme7{ background-image: url(../img/theme7_bg_mob.png);}
        .theme8{ background-image: url(../img/theme8_bg_mob.png);}
        .theme9{ background-image: url(../img/theme9_bg_mob.png);}
    }
    .theme{
        height: 100%;
        height: 100% !important;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        @media (max-width:960px){
            padding: 100px 0;
        }

        .top{
            width: 100%;
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translateX(-50%);
            @media (max-width:960px){
                top: 8%;
            }
        }
        .bottom{
            width: 100%;
            position: absolute;
            bottom: 7%;
            left: 50%;
            transform: translateX(-50%);
            @media (max-width:960px){
                bottom: 40px;
            }
        }
    }

    // content
    .theme1{
        position: relative;
        .fp-overflow{
            @media (max-width:960px){
                margin-top: -60%;
            }
        }
        &:before{
            content: "";
            width: calc(560/720*100%);
            height: 0;
            padding-bottom: 46%;
            position: absolute;
            z-index: 0;
            left: 0;
            bottom: 0;
            background-image: url(../img/theme1_bgimg_mob.png);
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: cover;
            display: none;
        }
        .logo{
            width: calc(250/1280*100%);
            position: absolute;
            top: 40px;
            left: 56px;
            @media (max-width:960px){
                width: calc(330/720*100%);   
                position: static;
                top: auto;
                left: auto;     
                margin: 0 auto;     
            }
            
        }
        .title{
            width: calc(642/1280*100%);
            // margin: 0 auto;
            margin-left: 41%;
            @media (max-width:960px){
                width: calc(642/720*100%);
                margin: 22% auto 10%;
            }
        }
        .subtitle{
            width: calc(403/1280*100%);
            margin-top: 160px;
            margin-left: 52.5%;
            @media (max-width:960px){
                width: calc(537/720*100%);
                margin: 0 auto;
            }
        }
        .decorate{
            width: calc(800/1280*100%);
            height: 0;
            padding-bottom: 38%;
            position: absolute;
            left: 0;
            bottom: 0;
            @media (max-width:960px){
                width: 120%;
                padding-bottom: 71%;
            }

        }
    }
    .theme2{
        .title{
            width: calc(740/1280*100%);
            margin: 0 auto;
            @media (max-width:960px){
                width: calc(385/720*100%);
                margin: 0 auto;
            }
            img{
                filter: drop-shadow(6px 6px 4px rgba(0,0,0,0.6));
                @media (max-width:960px){
                    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.6));
                }
            }
        }
        .info{
            width: calc(640/1280*100%);
            margin: 0 auto;
            @media (max-width:960px){
                width: calc(510/720*100%);
                margin: 7% auto;
                @media (max-width:960px){
                    filter: none;
                }
            }
        }
    }
    .theme3{
        padding: 0;
        .fp-overflow{
            width: 100%;
        }
        .title{
            width: calc(780/1280*100%);
            margin: 0 auto;
            @media (max-width:960px){
                width: calc(445/720*100%);
            }
            img{
                filter: drop-shadow(6px 6px 4px rgba(0,0,0,0.6));
                @media (max-width:960px){
                    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.6));
                }
            }
        }
        .subtitle{
            width: calc(1100/1280*100%);
            margin: 4% auto;
            @media (max-width:960px){
                width: calc(575/720*100%);
                margin: 9% auto;
            }
        }

        .bg {
            width: 100%;
            overflow: hidden;

            
            .horizontal-inner {
                width: auto;
                height: 100vh;
                overflow-x: scroll;
            }

            .box {
                width: auto;
                height: 100vh;
                img{
                    width: auto;
                    height: 100vh;
                }
            }
            }
    }
    
    .theme4{
        .title{
            width: calc(870/1280*100%);
            margin: 0 auto;
            @media (max-width:960px){
                width: calc(536/720*100%);
                margin: 4% auto;
            }
            img{
                filter: drop-shadow(6px 6px 4px rgba(0,0,0,0.6));
                @media (max-width:960px){
                    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.6));
                }
            }
        }
        .subtitle{
            width: calc(720/1280*100%);
            margin: 5% auto;
            @media (max-width:960px){
                width: calc(483/720*100%);
                margin: 8% auto;
            }
            img{
                filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.4));
                @media (max-width:960px){
                    filter: none;
                }
            }
        }
    }
    .theme5{
        .top{
            width: calc(800/1280*100%);
            left: unset;
            right: 4%;
            transform: none;
            @media (max-width:960px){
                width: calc(500/720*100%);
            }
        }
        .bottom{
            @media (max-width:960px){
                margin-bottom: 35%;
            }
        }
        .title{
            width: calc(705/800*100%);
            margin: 0 auto;
            @media (max-width:960px){
                width: calc(500/500*100%);
                margin: 4% auto;
            }
            img{
                filter: drop-shadow(6px 6px 4px rgba(0,0,0,0.6));
                @media (max-width:960px){
                    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.6));
                }
            }
        }
        .subtitle{
            width: calc(590/800*100%);
            margin: 5% auto;
            @media (max-width:960px){
                width: calc(468/500*100%);
                margin: 6% auto;
            }
            img{
                filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.4));
                @media (max-width:960px){
                    filter: none;
                }
            }
        }
        .photo{
            width: calc(674/800*100%);
            margin: 8% auto;
            overflow: hidden;
            @media (max-width:960px){
                width: calc(600/720*100%);
            }
            .item{
                width: calc((100% - 30px) / 3);
                margin: 5px;
                position: relative;
                float: left;
                @media (max-width:960px){
                    width: 100%;
                }

                span{
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                    color: #fff;
                    font-size: 14px;
                }
            }
        }
    }
    .theme6{
        .top{
            width: calc(800/1280*100%);
            left: 8%;
            transform: none;
            @media (max-width:960px){
                width: 100%;
                left: 0;
            }
        }
        .title{
            width: calc(663/800*100%);
            @media (max-width:960px){
                width: calc(625/720*100%);
                margin: 5% auto;
            }
            img{
                filter: drop-shadow(6px 6px 4px rgba(0,0,0,0.6));
                @media (max-width:960px){
                    filter: none;
                }
            }
        }
        .subtitle{
            width: calc(635/800*100%);
            margin: 5% 0;
            @media (max-width:960px){
                width: calc(512/720*100%);
                margin: 6% auto;
            }
            img{
                filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.4));
                @media (max-width:960px){
                    filter: none;
                }
            }
        }
        .photo{
            width: calc(674/800*100%);
            margin: 8% 0;
            overflow: hidden;
            @media (max-width:960px){
                margin: 8% auto;
            }
            .item{
                width: calc((100% - 30px) / 3);
                margin: 5px;
                position: relative;
                float: left;
                @media (max-width:960px){
                    width: 100%;
                }
                span{
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                    color: #fff;
                    font-size: 14px;
                }
            }
        }
    }
    .theme7{
        .title{
            width: calc(888/1280*100%);
            margin: 0 auto;
            @media (max-width:960px){
                width: calc(486/720*100%);
            }
            img{
                filter: drop-shadow(6px 6px 4px rgba(0,0,0,0.6));
                @media (max-width:960px){
                    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.6));
                }
            }
        }
        .subtitle{
            width: calc(522/1280*100%);
            margin: 5% auto;
            @media (max-width:960px){
                width: calc(351/720*100%);
            }
            img{
                filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.4));
                @media (max-width:960px){
                    filter: none;
                }
            }
        }
        .photo{
            width: calc(840/1280*100%);
            margin: 8% auto;
            display: flex;
            .item{
                margin: 5px;
                position: relative;
                span{
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                    color: #fff;
                    font-size: 14px;
                }
            }
        }
    }
    .theme8{
        .top{
            width: calc(800/1280*100%);
            left: unset;
            right: 8%;
            transform: none;
            overflow: hidden;
            @media (max-width:960px){
                width: 100%;
                right: auto;
            }
        }
        .title{
            width: calc(663/800*100%);
            float: right;
            @media (max-width:960px){
                width: calc(469/720*100%);
                float: unset;
                margin: 0 auto;
            }
            img{
                filter: drop-shadow(6px 6px 4px rgba(0,0,0,0.6));
                @media (max-width:960px){
                    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.6));
                }
            }
        }
        .subtitle{
            width: calc(635/800*100%);
            margin: 8% 0;
            float: right;
            @media (max-width:960px){
                width: calc(628/720*100%);
                float: unset;
                margin: 8% auto;
            }
            img{
                filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.4));
                @media (max-width:960px){
                    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.6));
                }
            }
        }
    }
    .theme9{
        height: 100%;
        .title{
            font-size: 32px;
            font-weight: 700;
            color: #000;
        }
        .form{
            width: calc(1000/1280*100%);
            margin: 60px auto;
            .group{
                width: 100%;
                display: flex;
                @media (max-width:960px){
                    flex-direction: column;
                }
                .item{
                    width: 100%;
                    height: 72px;
                    label{
                        display: none;
                    }
                    select, input{
                        width: 100%;
                        height: 60px;
                        // float: right;
                        outline: 0;
                        border: 0;
                        padding: 0 20px;
                        background: #fff;;
                        color: #000;
                        font-size: 18px;
                        font-weight: 600;
                    }
                    textarea{
                        width: 100%;
                        height: 36px;
                        background: transparent;
                        outline: 0;
                        border: 0;
                        padding: 0;
                        resize: none;
                        @media (max-width:1080px){
                            height: 100px;
                        }
                    }
                    ::placeholder, select{
                        font-size: 14px;
                        // padding: 0 10px;
                        color: #000;
                        font-size: 18px;
                        font-weight: 600;
                    }
        
                }
                .item + .item{
                    margin-left: 20px;
                    @media (max-width:960px){
                        margin-left: 0;
                    }
                }
            }
            .group + .group{
                margin-top: 20px;
                @media (max-width:960px){
                    margin-top: 0;
                }
            }

            button{
                width: 252px;
                height: 60px;
                margin: 0 auto;
                display: block;
                margin-top: 40px;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 1px;
                background: url(../img/button_bg.png) center center no-repeat;
                background-size: cover;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .popup{
        }       
    }

}



.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	// background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: url(../img/arrow_left.svg);
    left: 10px;
    right: auto;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url(../img/arrow_right.svg);
    right: 10px;
    left: auto;
}


  