<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>南港沐松琚</title>
    <meta name="author" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="Resource-type" content="" />
    <!-- <meta property="og:image" content="https://www.zyed.com.tw/VITRUVIUS/img/1200x630.png"> -->
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <link rel="stylesheet" type="text/css" href="css/fullpage.css" />
	<!-- <link rel="stylesheet" type="text/css" href="css/examples.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/slick.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/slick-theme.css" /> -->
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="css/animate.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    
    <!-- js -->
    <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
	<script src="js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="js/fullpage.js"></script>
    <!-- <script type="text/javascript" src="js/examples.js"></script> -->
    <!-- <script type="text/javascript" src="js/slick.js"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    
    
</head>

<body>

    <section id="fullpage" class="fullpage">
        <div class="section theme theme1" id="section0">
            <div class="logo wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.8s">
                <img src="img/theme1_logo.svg" alt="">
            </div>
            <div class="title wow fadeInDown" data-wow-duration="2s" data-wow-delay="0s">
                <img src="img/theme1_title.svg" alt="">
            </div>
            <div class="subtitle wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.5s">
                <img class="pc" src="img/theme1_subtitle.svg" alt="">
                <img class="mob" src="img/theme1_subtitle_mob.svg" alt="">
            </div>
            <div class="decorate">
                <img src="img/theme1_bgimg.png" alt="">
            </div>
        </div>
        <div class="section theme theme2" id="section1">
            <div class="top">
                <div class="title wow fadeInDown" data-wow-duration="2s" data-wow-delay="0s">
                    <img class="pc" src="img/theme2_title.svg" alt="">
                    <img class="mob" src="img/theme2_title_mob.svg" alt="">
                </div>
                <div class="info mob wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.5s">
                    <img src="img/theme2_info_mob.svg" alt="">
                </div>
            </div>
            <div class="bottom">
                <div class="info pc wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.5s">
                    <img src="img/theme2_info.svg" alt="">
                </div>
            </div>
        </div>
        <div class="section theme theme3" id="section2">
            <div class="top">
                <div class="title wow fadeInDown" data-wow-duration="2s" data-wow-delay="0s">
                    <img class="pc" src="img/theme3_title.svg" alt="">
                    <img class="mob" src="img/theme3_title_mob.svg" alt="">
                </div>
                <div class="subtitle wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.5s">
                    <img class="pc" src="img/theme3_subtitle.svg" alt="">
                    <img class="mob" src="img/theme3_subtitle_mob.svg" alt="">
                </div>
            </div>
            <div class="bg mob">
                <div class="horizontal-inner">
                    <div class="box">
                        <img src="img/theme3_bg.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="section theme theme6" id="section5">
            <div class="top">
                <div class="title wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.5s">
                    <img class="pc" src="img/theme6_title.svg" alt="">
                    <img class="mob" src="img/theme6_title_mob.svg" alt="">
                </div>
                <div class="scrolltips mob">
                    <div class="tips">
                        <img src="img/theme6_tips_mob.svg" alt="">
                    </div>
                    <div class="finger">
                        <img src="img/theme6_finger_mob.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="bg mob">
                <div class="horizontal-inner">
                    <div class="box">
                        <img src="img/theme6_bg_mob.jpg" alt="">
                    </div>
                </div>
            </div>
        </div> -->
        <div class="section theme theme4" id="section3">
            <div class="top">
                <div class="title wow fadeInDown" data-wow-duration="2s" data-wow-delay="0s">
                    <img class="pc" src="img/theme4_title.svg" alt="">
                    <img class="mob" src="img/theme4_title_mob.svg" alt="">
                </div>
                <div class="subtitle wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.5s">
                    <img class="pc" src="img/theme4_subtitle.svg" alt="">
                    <img class="mob" src="img/theme4_subtitle_mob.svg" alt="">
                </div>
            </div>
        </div>
        <div class="section theme theme5" id="section4">
            <div class="top">
                <div class="title wow fadeInDown" data-wow-duration="2s" data-wow-delay="0s">
                    <img class="pc" src="img/theme5_title.svg" alt="">
                    <img class="mob" src="img/theme5_title_mob.svg" alt="">
                </div>
                <div class="subtitle wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.5s">
                    <img class="pc" src="img/theme5_subtitle.svg" alt="">
                    <img class="mob" src="img/theme5_subtitle_mob.svg" alt="">
                </div>
                <div class="photo pc wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.8s">
                    <div class="item">
                        <span>信義生活圈</span>
                        <img src="img/theme5_photo1.png" alt="">
                    </div>
                    <div class="item">
                        <span>信義生活圈</span>
                        <img src="img/theme5_photo2.png" alt="">
                    </div>
                    <div class="item">
                        <span>信義生活圈</span>
                        <img src="img/theme5_photo3.png" alt="">
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="photo mob">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="item">
                                    <span>信義生活圈</span>
                                    <img src="img/theme5_photo1.png" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <span>信義生活圈</span>
                                    <img src="img/theme5_photo2.png" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <span>信義生活圈</span>
                                    <img src="img/theme5_photo3.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section theme theme6" id="section5">
            <div class="top">
                <div class="title wow fadeInDown" data-wow-duration="2s" data-wow-delay="0s">
                    <img class="pc" src="img/theme6_title.svg" alt="">
                    <img class="mob" src="img/theme6_title_mob.svg" alt="">
                </div>
                <div class="subtitle wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.5s">
                    <img class="pc" src="img/theme6_subtitle.svg" alt="">
                    <img class="mob" src="img/theme6_subtitle_mob.svg" alt="">
                </div>
                <div class="photo pc wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.8s">
                    <div class="item">
                        <span>現場實景</span>
                        <img src="img/theme6_photo1.png" alt="">
                    </div>
                    <div class="item">
                        <span>現場實景</span>
                        <img src="img/theme6_photo2.png" alt="">
                    </div>
                    <div class="item">
                        <span>現場實景</span>
                        <img src="img/theme6_photo3.png" alt="">
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="photo mob">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="item">
                                    <span>現場實景</span>
                                    <img src="img/theme6_photo1.png" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <span>現場實景</span>
                                    <img src="img/theme6_photo2.png" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <span>現場實景</span>
                                    <img src="img/theme6_photo3.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section theme theme7" id="section6">
            <div class="top">
                <div class="title wow fadeInDown" data-wow-duration="2s" data-wow-delay="0s">
                    <img class="pc" src="img/theme7_title.svg" alt="">
                    <img class="mob" src="img/theme7_title_mob.svg" alt="">
                </div>
                <div class="subtitle wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.5s">
                    <img class="pc" src="img/theme7_subtitle.svg" alt="">
                    <img class="mob" src="img/theme7_subtitle_mob.svg" alt="">
                </div>
            </div>
        </div>
        <div class="section theme theme8" id="section7">
            <div class="top">
                <div class="title wow fadeInDown" data-wow-duration="2s" data-wow-delay="0s">
                    <img class="pc" src="img/theme8_title.svg" alt="">
                    <img class="mob" src="img/theme8_title_mob.svg" alt="">
                </div>
                <div class="subtitle wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.5s">
                    <img class="pc" src="img/theme8_subtitle.svg" alt="">
                    <img class="mob" src="img/theme8_subtitle_mob.svg" alt="">
                </div>
            </div>
        </div>
        <div class="section theme theme9" id="section8">
            <div class="title">線上預約</div>
            <div class="form">
                <div class="group">
                    <div class="item wow fadeInDown" data-wow-duration="2s" data-wow-delay="0s">
                        <label for="name">姓名</label>
                        <input type="text" v-model="name" name="name" placeholder="姓名" required />
                    </div>
                    <div class="item wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.2s">
                        <label for="phone">電話</label>
                        <input type="text" v-model="phone" name="phone" placeholder="電話" required />
                    </div>
                </div>
                <div class="group">
                    <div class="item wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.4s">
                        <label for="email">E-mail</label>
                        <input type="text" v-model="email" name="email" placeholder="E-mail" required />
                    </div>
                </div>
                <div class="group">
                    <div class="item wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.6s">
                        <label for="name">居住縣市</label>
                        <input type="text" v-model="name" name="name" placeholder="居住縣市" required />
                    </div>
                    <div class="item wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.8s">
                        <label for="phone">鄉鎮區域</label>
                        <input type="text" v-model="phone" name="phone" placeholder="鄉鎮區域" required />
                    </div>
                </div>
                <button class="send">立即預約</button>
            </div>
            <div class="popup">
                <div class="popup_content">您已送出資訊，我們將與您聯繫</div>
            </div>
        </div>

    </section>

</body>

<script>

    $(document).ready(function () {

        new WOW().init();

        var myFullpage = new fullpage('#fullpage', {
            anchors: ['01', '02', '03', '04', '05', '06', '07', '08', '09'],
            sectionsColor: ['#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff'],
            navigation: false,
            scrollBar: true,
            autoScrolling: true,
            responsiveWidth: 960
        });

        //box height
		// if( $(window).width() < 960 ){
        //     $('.photo').addClass('slick-photo');
		// }
		// else{
		// }

        // $('.slick-photo').slick({
        //     infinite: true,
        //     dots: false,
        //     arrows: true,
        //     slidesToShow: 1,
        //     slidesToScroll: 1
        // });

    });


    $('.send').on('click', function () {
        $('.popup').addClass('is_acted');
        setTimeout(() => { 
            $('.popup').removeClass('is_acted');
        }, 5000);
    });

    var mySwiper = new Swiper ('.swiper-container', {
        // If we need pagination
        pagination: {
        el: '.swiper-pagination',
                clickable: true,
            renderBullet: function (index, className) {
            return '<span class="' + className + '">' + (menu[index]) + '</span>';
            },
        },

        // Navigation arrows
        navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
        },
    })


</script>



</html>